/*Fonts*/

@font-face {
    font-family: 'Rockwell';
    src: url('../fonts/rockwell-bold.eot');
    src: url('../fonts/rockwell-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rockwell-bold.woff2') format('woff2'),
         url('../fonts/rockwell-bold.woff') format('woff'),
         url('../fonts/rockwell-bold.ttf') format('truetype'),
         url('../fonts/rockwell-bold.svg#rockwell-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Rockwell';
    src: url('../fonts/rockwell-regular.eot');
    src: url('../fonts/rockwell-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rockwell-regular.woff') format('woff'),
         url('../fonts/rockwell-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#latobold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?u3gxu3');
    src:    url('../fonts/icomoon.eot?u3gxu3#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?u3gxu3') format('truetype'),
        url('../fonts/icomoon.woff?u3gxu3') format('woff'),
        url('../fonts/icomoon.svg?u3gxu3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*end fonts*/


/*main styles*/
	*{
		box-sizing:border-box;
	}

	body{
		margin: 0 auto;
		padding: 0;
		font-family: 'Raleway', sans-serif;
		line-height: normal;

	}
	
	h1{
		font-family: 'Rockwell', serif;
		font-weight: normal;
	}
	h2{
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
	select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.container_screen{
		position: relative;
		z-index: 6;
		padding: 50px 0;

	}
	/*.container:after,*/
	
	.row:after,
	.clearfix:after{
		content:'';
		display:block;
		clear:both;
	}

	.center{
		text-align: center;
	}
	
	.left_float{
		float: left;
	}

	.form-control-horizantal{
		float: left;
	}

	.form-control-horizantal:last-child,
	.form-control-container:last-child{
		margin:0;
	}
	
	.form-control-container{
		margin: 0;

	}
	.form-control{
		font-size:18px;
		color: #2d2d2d;
		border:none;
		position: relative;
	}
	
	.form-control:focus{
		outline:none;
	}
	
	.curs_pointer{
	cursor: pointer;
	}	
	
	.icon_font{
		font-family: 'icomoon' !important;
		font-weight: normal !important;
		font-style: normal !important;
	}

/*end main styles*/

/*header styles*/

	.header{
		width: 100%;
		margin: 0 auto;
		background: #fff;
		position: fixed;
		z-index: 99;
	}
	.emblem{
		float: left;
		width: 26px;
		height: 33px;
		background: url('../img/logo.png') no-repeat left;
		padding: 0px 0 0px 45px;
	}
	.header .logo {
		line-height: 33px;
		float: left;
		font-size: 30px;
		font-family: 'Rockwell', serif;
		margin: 56px 0;
		text-decoration: none;
		color: #202242;
	}
	
	.header .nav{
		float: left;
		margin: 64px 0px 64px 100px;
		padding: 0;
		
		
	}

	.header .nav li{
		float: left;
		list-style: none;
		margin: 0 30px 0 0 ;
	}
	.header .nav li:last-child{
		margin-right:0;
	}
	.header .nav li a{
		padding: 5px;
		text-decoration: none;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-size: 16px;
		color:#202242;
	}
	.header .nav li a:hover{
		color:#ffe13e;
	}

	.header .contacts{
		float: right;
		padding:39px 2px 32px 47px;
		border-left: 1px solid #ebebeb;
		
	}
	.header .call-to{
		font-size: 12px;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color:#202242;
	}
	.header .call-to-us{
		margin-top: 22px;


	}
	.header .btn{
		float: left;
		display: block;
		text-decoration: none;
		background: #ffe13e;
		padding: 12px 32px;
		font-size: 14px;
		color: #202242;
	}
	.btn:hover{
		background: #202242;
		color: #ffe13e;
		transition: background .5s ease,
					color .5s ease;
	}
	.header .phone_number{
		display: block;
		text-decoration: none;
		color: #202242; 
		float:right;
		font-family: 'Lato', sans-serif;
		font-size: 24px;
		border-left: 1px solid #babbc4;
		padding: 3px 0px 3px 17px;
		
	}
/*end header styles*/

/*first screen style*/
 	.screen__splash{
 		width: 100%;
 		background:url("../img/bg_screen.jpg") no-repeat center;
		background-size: cover;
 		position: relative;
 		padding: 147px 0 0;
 		
	}
	.screen__splash .container_splash{
		height: calc(100vh - 147px);
 		min-height: 550px;
 		max-height: 940px;
	}

	.screen__splash .vert_align{
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		width: 100%;
	}

 	.screen__splash .splash_title {
 		padding: 0px 0px 50px 0px;
 		margin: 0;
 		font-size: 48px;
 		color: #fff;

 	}
 	.screen__splash .splash_description {
 		margin: 0px;
 		padding: 0px 0px 60px 0px;
 		font-family: 'Raleway', serif;
 		font-size: 30px;
 		color: #fff;

 	}

 	.screen__splash .screen-icon{
 		width: 102px;
 		height: 109px;
 		margin: 0px auto;
		background: url("../img/shape.png");
		
	}
	
	.form-container{
		margin: 0 auto;
		background: rgba(255, 255, 255, .5);
		width: 572px;
		height: 90px;
	}

	.screen__splash form{
		margin: 50px 0 0 0;
		padding: 18px 18px;

	}

	.screen__splash .input{
		background: #fff;
		font-family: 'Raleway', serif;
		font-size: 18px;
		width: 273px;
		padding: 17px 22px 16px 22px;
	}

	.screen__splash .select{
		
		height: 54px;
		width: 108px;
		background: transparent;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		padding: 17px 22px 16px 22px;
		border-right: 1px solid #fff;
		border-radius: 0;
		position: relative;
		z-index: 2;
	}
	.arrow{
		position: relative;
		background: #ffe13e;
	}

	.arrow:after{
		content: '';
		position: absolute;
		height: 10px;
		width: 10px;
		border-right: 2px solid white;
		border-bottom: 2px solid white;
		transform: rotate(45deg);
		right: 17px;
		top: 20px;
		z-index: 1;


	}
	.screen__splash .btn-domain{
		width: 155px;
		height: 54px;
		background: #ffe13e;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 14px;
		margin: 0px;
		padding: 18px 16px 20px 17px;
		
	}
	

	.darken{
		position: absolute;
		background: rgba(47, 47, 47, .33);
		top:0;right:0;bottom:0;left:0;
		z-index: 5;
	}
/*end first screen*/

/*second screen style*/
	.screen__services{
		position: relative;
		margin: 0;
		padding: 0;
	}
	
	.side_bg {
		position: absolute;
		z-index: 1;
		height: 100%;
		top: 0;
		width: 50%;
	}
	.side_bg_left{
		left:0;
		background: #202242;
	}
	.side_bg_right{
		right:0;
		background: #ffe13e;
	}
	.screen__services .webhost_service{
		position: relative;
		float: left;
		width: 50%;
	}

	.screen__services .domain_sevice{
		position: relative;
		float: right;
		width: 50%;
	}

	.sub_container{
		padding: 50px 84px;
	}

	.screen__services .web_icon{
		display: block;
		background: url('../img/service_shape.png') no-repeat center;
		width: 169px;
		height: 169px;
		margin: 0 auto;
		margin-bottom: 55px; 

	}
	.screen__services .dom_icon{
		display: block;
		font-size: 135px;
		font-weight: bold;
		color: #202242;
		margin-bottom: 31px;

	}
	.screen__services .serv_title{
		color: #fff;
		font-size: 36px;

	}
	.screen__services .serv_content{
		margin: 10px 0px 60px 0px;
		line-height: 20px;
		font-family: 'Raleway', serif;
		font-size: 14px;
		color:#fff;
	}
	.screen__services .serv_btn{
		display: inline-block;
		text-decoration: none;
		color: #fff;
		border: 3px solid #fff;
		font-size: 18px;
		font-weight: bold;
		padding: 19px 53px;
	}
	.serv_btn:hover{
		color: #202242;
		background: #fff;
		transition: background .5s ease,
					color .5s ease;
	}

/*end second screen style*/

/*third screen*/

	.screen__features{
		margin: 0;
		padding: 0;
		position: relative;
		background: #fbf8f1 url('../img/futures_shape.png') no-repeat center;

	}

	.screen__features .feature_tittle{
		font-size: 48px;
		line-height: 48px;
		font-weight: bold;
		color: #202242;
	}
	.screen__features .feature_description{
		font-size: 24px;
		color: #202242;
	}
	
	.screen__features .row_feature{
		margin-top: 85px; 
	}
	
	.screen__features .icon_description{
		width: 128px;
		height: 128px;
		margin: 0 auto;
	}
	.screen__features .support{
		background: url('../img/icon_support.png');
	}
	.screen__features .technology{
		background: url('../img/icon_technology.png');
	}
	.screen__features .database{
		background: url('../img/icon_database.png');
	}
	.screen__features .monitoring{
		background: url('../img/icon_monitoring.png');
	}

	.screen__features .description_tittle:before{
		position: absolute;
		left:50%;
		transform: translateX(-50%);
		bottom: 65px;
		content: '';
		width: 70px;
		height: 3px;
		background:#8d8d99;
		margin: 0px 0px 0px 0px;
		
	}

	.screen__features .description_tittle{
		margin: 80px 0 30px 0;
		font-family: 'Rockwell', serif;
		font-weight: normal;
		font-size: 30px;
		line-height: 30px;
		color: #f4d320;
		position: relative;
	}
	.screen__features .description_content{
		font-size: 14px;
		color: #202242;
		line-height: 25px;
		padding: 10px 25px;
		margin: 0;
	}
	
/*end third screen*/


/*fourth screen*/
	
	.screen__clients{
		margin: 0;
		padding: 0;
		position: relative;
	}

	.row_clients{
		padding: 0 0 50px 0; 
	}

	.screen__clients .clients_tittle{
		font-size: 36px;
		line-height: 36px;
		font-weight: bold;
		color: #202242;
	}

	.screen__clients .clients_description{
		padding: 0 25px 0 0; 
		font-size: 16px;
		color: #adadad;

	}

	.screen__clients .content_clients{
		background: #faf9f9;
		padding: 25px;
	}

	.screen__clients .comment_clients{
		font: italic 14px 'Rockwell', serif;
		color: #a4a4a4;
		line-height: 20px;
		margin: 0 0 10px 0;
	}

	.screen__clients .signature_clients{
		font: normal bold 16px 'Raleway', sans-serif;
		color: #696969;
		margin: 0;
	}

	.screen__clients .avatar{
		position: absolute;
		margin: 0;
		border: 5px solid #e2e1e5;
		border-radius: 100%;
		right: 40px;
		bottom: -50px;
		overflow: hidden;
		width: 100px;
		height: 100px;

	}
/*end fourth screen*/

/*fifeth screen*/

	.screen_prices{
		background: #202242;
	}

	.screen_prices .prices_tittle{
		padding-left: 90px;
	}

	.screen_prices .prices_tittle h2{

		font-size: 36px;
		color: #fff;
		line-height: 36px;
	}
	.screen_prices .prices_dsecription{
		margin: 10px 0 0 0;
		color: #67687b;
		font-size: 18px;

	}
	.screen_prices .prices_btn{
		display: block;
		text-align: center;
		text-decoration: none;
		background: #ffe13e;
		border: 4px solid #fff;
		float: right;
		margin: 0 100px 0 0;
		padding: 29px 50px 29px 50px;
		color: #202242;
		font-size: 18px;
		font-weight: bold;
		transition: background .5s ease,
					color .5s ease;
	}

	.screen_prices .prices_btn:hover{
		background: #202242; 
		color: #ffe13e;
		transition: background .5s ease,
					color .5s ease;
	}

/*end fifeth screen*/

/*footer*/
	.footer{
		background: #363855;

	}

	.footer .container_footer{
		padding: 50px 0 0 0;
	}

	.footer .footer_map img{
		width: 100%;
	}
	
	.footer .footer_pointer{
		position: absolute;
		top: 54%;
		left: 71%;
		
	}
	.footer .footer_pointer_description{
		margin: 0;
		font: normal bold 18px 'Raleway', sans-serif; 
		color: #fff;
		line-height: 24px;
		padding: 0px 0px 0px 55px;

	}
	.footer .pointer_img{
		position: absolute;

		background: url('../img/footer_pointer.png');
		width: 33px;
		height: 47px;
	}
	.footer .footer_navigation{
		float: right;
		font-size: 18px;
		font-weight: bold;
		color:#fff;
		text-align: right;
	}

	.footer .footer_nav{
		
	}
	.footer .footer_nav li{
		list-style: none;
		padding: 10px 0 10px 8px;
		border-bottom: 1px solid #565870
	}

	.footer .footer_nav li:last-child{
		border: none;
	}

	.footer .footer_nav li a{
		text-decoration: none;
		font-size: 16px;
		color: #fff;
		font-weight: normal;
		padding: 5px 0 5px 5px;
	}

	.footer .footer_nav li a:hover{
		color:#ffe13e;
	}	

	.icon_twitter:before{
		content: '\e902'
	}
	.icon_instagram:before{
		content: '\e901'
	}
	.icon_google:before{
		content: '\e900'
	}

	.footer .soc_nav{
		margin: 40px 0;

	}

	.footer .soc_nav li{
		list-style: none;
		float: left;
		margin: 0 10px;

	}
	.footer .soc_nav li a{
		text-decoration: none;
		color: #ffe13e;
	}

	.footer .soc_nav li a:hover{
		text-decoration: none;
		color: #fff;
	}
	.footer .back_to_top{
		font: normal normal 12px 'Raleway', sans-serif;
		text-decoration: none;
		color:#fff;
	}
	.footer .back_to_top:hover{
		color:#ffe13e;
	}

	.footer .copyright{
		padding-top: 20px;	
	}

	.footer .copyright_shape{
		background: url('../img/footer_shape.png') no-repeat;
		margin: 0 auto;
		width: 33px;
		height: 36px;
	}

	.footer .copyright_description{
		font: normal normal 14px 'Raleway', sans-serif;
		color: #fff;
		padding: 25px 0; 
	}


	
	.footer 


/*end footer*/

